<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
</head>
<body>
<table border="1">
    <tr>
        <th>사원번호</th>
        <th>부서</th>
        <th>이름</th>
        <th>전화번호</th>
    </tr>
    <tr th:each="data : ${list}">
        <td th:text="${data.pno}"></td>
        <td th:text="${data.part}"></td>
        <td th:text="${data.name}"></td>
        <td th:text="${data.tel}"></td>
    </tr>
</table>
<a href="/manager/main">돌아가기</a>

</body>
</html>